<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  
  <h2>Mains</h2>
  <ul>
  <% menu.forEach(item => { %>
    <% if (item.category === "mains") { %>
    <p><strong><%= item.name %> <%= item.rating ===5 ? '⭐' : '' %></strong></p>
    <li>Price: $<%= item.price %></li>
    <li>Rating: <%= item.rating %></li>
    <li><%= item.details %></li>
    <% } %>
  <% }); %>
</ul>

<h2>Sides</h2>
  <ul>
  <% menu.forEach(item => { %>
    <% if (item.category === "sides") { %>
    <p><strong><%= item.name %> <%= item.rating ===5 ? '⭐' : '' %></strong></p>
    <li>Price: $<%= item.price %></li>
    <li>Rating: <%= item.rating %></li>
    <li><%= item.details %></li>
    <% } %>
  <% }); %>
</ul>

<h2>Desserts</h2>
  <ul>
  <% menu.forEach(item => { %>
    <% if (item.category === "desserts") { %>
    <p><strong><%= item.name %> <%= item.rating ===5 ? '⭐' : '' %></strong></p>
    <li>Price: $<%= item.price %></li>
    <li>Rating: <%= item.rating %></li>
    <li><%= item.details %></li>
    <% } %>
  <% }); %>
</ul>

</body>
</html>
